bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.iml
.vscode/
mini-ecommerce.API/appsettings.Development.json
mini_ecommerce.API/appsettings.Development.json
mini_ecommerce.angular-client/node-modules/
