@page "/products"

@using mini-ecommerce.Blazor.Models
@using mini-ecommerce.Blazor.Components.Product
@inject ProductService ProductsService

<h3>Products</h3>

@if (loading)
{
    <Loading/>
}
else if (!string.IsNullOrEmpty(error))
{
    <ErrorMessage Message="error"/>
}
else
{
    <ProductTable Products="products"/>
}

@code {

    List<ProductDto> products = new();

    bool loading = true;

    string? error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await ProductsService.GetProducts();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

        loading = false;
    }
}