@using mini-ecommerce.Blazor.Models

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    </thead>

    <tbody>

    @foreach (var product in Products)
    {
        <ProductRow Product="product"/>
    }

    </tbody>
</table>

@code{

    [Parameter]
    public List<ProductDto> Products { get; set; } = new();

}